<!-- footer content -->
<footer>
  <div class="pull-right">
    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="/public/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/public/js/bootstrap.bundle.min.js"></script>

<div class="pull-right">
            Gentelella - Bootstrap Admin Template by
          </div>
          <div class="clearfix"></div>
<!-- Custom Theme Scripts -->
<script src="/public/js/custom.min.js"></script>

</body>

</html>